.cursor-pointer {
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
  }
  
  .badge {
    font-size: 1rem;
    padding: 0.5rem 1rem !important;
  }
  .selected-emplacements .badge {
    padding: 0.5rem 0.75rem;
    border-radius: 20px;
    font-size: 0.9rem;
}